@charset "utf-8";
/* CSS Document */
body,div{margin:0px;}
.atas{width:100%; height:55px; background-color:#FC0;  z-index:1; position:fixed; }
.form {background:#FC3; width:100%; height:auto; margin:0px; position:fixed; z-index:1;}
.search {; padding:8px 15px; width:400px; height:25px; background:#FFF; border:1px solid #dbdbdb;}
.button {position:relative; height:20px; width:40px; left:0px; margin:0px; border:2px solid #53bd84; background-color:#06F; color:#fafafa;}
.button:hover  { background-color:#fafafa; color:#207cca;}
.header{width:900px; height:auto; margin:auto; top:60px; left:0; right:0; position:relative;}
.rangka{width:900px; height:auto; background-color:#F00; position:absolute; margin:auto; left:0; right:0; }
.menuatas{width:900px; height:70px; background:#06F; margin:0px; position:absolute;}
.isikiri1{margin-left:-220px; width:200px; height:180px; background:#309; border-radius:7px;}
.loginuser{top:10px; height:120px; margin:15px}
.loginuser label{ width:100px; float:left; color:#06F;}
.submit {margin-left:15px; width:70px; height:30px; float:left;}
.hapus  {width:70px; height:30px;  float:left;} 
.isikiri2{margin-left:-220px; margin-top:10px; width:200px; height:300px; }
.banner{}
.content{width:900px; height:auto; background-color:#9C3; top:80px; margin:0; position:absolute;}
.isitengah{width:600px; height:1000px; float:left; background-color:#663; position:absolute;}
.isikanan{width:300px; height:auto; float:left; background:#FF0; margin-left:600px; position:absolute;}
.isikanan1{width:280px; height:300px; border-radius:5px; margin:10px; background-color:#000;}
.isikanan2{width:280px; height:300px; border-radius:5px; margin:10px; background-color:#666;}
.isikanan3{width:280px; height:300px; border-radius:5px; margin:10px; background-color:#0F0;}
.footer{width:900px; height:80px; top:1500px; background:#06F; margin:0px; position:absolute;}